<!DOCTYPE html>
<html>
<head>
    <title>Map Game</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf/turf.min.js"></script>

</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">INTERMAPS.GEO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" 
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="info-panel">
        <div id="score">Puntaje: 0</div>
        <div id="timer">Tiempo restante: 0:30</div>
    </div>
    <div id="map"></div>
    <div class="info-panel">
        <div id="coords">Donde esta ubicado ( None) </div>
        <button id="startButton">Iniciar </button>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    
</body>
</html>
